<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="static/css/font.css">
  <link type="text/css" rel="stylesheet" href="static/css/app-body.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  <!--Import jQuery before materialize.js-->
  <nav class="cyan darken-2 z-depth-4 nav-fixed">
      <div class="nav-wrapper">
          <a href="#!" class="brand-logo center">~$hare$cript</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          {% if session.user_id %}
          <ul class="right hide-on-med-and-down">
              <li><a href="/index" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="ホーム"><i class="material-icons">home</i></a></li>
              <li><a href="/logout" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="ログアウト"><i class="material-icons">forward</i></a></li>
          </ul>
          {% else %}
          <ul class="right hide-on-med-and-down">
              <li><a href="/index" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="ホーム"><i class="material-icons">home</i></a></li>
              <li><a href="/register" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="登録"><i class="material-icons">person_add</i></a></li>
              <li><a href="/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="ログイン"><i class="material-icons">person</i></a></li>
          </ul>
          {% endif %}
      </div>
  </nav>
  {% if session.user_id %}
  <ul class="side-nav" id="mobile-demo">
      <li><a href="/index"><i class="material-icons">home</i>ホーム</a></li>
      <li><a href="/logout"><i class="material-icons">forward</i>ログアウト</a></li>
  </ul>
  {% else %}
  <ul class="side-nav" id="mobile-demo">
      <li><a href="/index"><i class="material-icons">home</i>ホーム</a></li>
      <li><a href="/register"><i class="material-icons">person_add</i>登録</a></li>
      <li><a href="/login"><i class="material-icons">person</i>ログイン</a></li>
  </ul>
  {% endif %}
  <div class="container">
      <div class="row">
          <div class="col s3"></div>
          <div class="col s6">
              <div class="card-panel grey lighten-2 z-depth-4">
                  <h4 class="center-align">Login!</h4>
                  <div>
                      <div class="row">
                          <div class="input-field col m12 s12">
                              <i class="material-icons iconis prefix">email</i>
                              <input id="email" type="email" class="validate">
                              <label for="mail_address">Email</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col m12 s12">
                              <i class="material-icons iconis prefix">enhanced_encryption</i>
                              <input id="password" type="password" class="validate">
                              <label for="password">Password</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col m12 s12">
                              <button class="btn waves-effect waves-light center" type="submit" id="auth">LOGIN NOW</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col s3"></div>
      </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="static/js/materialize.min.js"></script>
  <script type="text/javascript" src="static/js/navbar-collapse.js"></script>
  <script type="text/javascript" src="static/js/auth.js"></script>
</body>
</html>
